BOT_TOKEN=
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/nexara
SHODAN_API_KEY=
CENSYS_BEARER_TOKEN=
VT_API_KEY=
APP_ENV=prod
LOG_LEVEL=INFO
FREE_DAILY_LIMIT=3
INTEL_DAILY_LIMIT=25
AGENCY_DAILY_LIMIT=150
WARROOM_DAILY_LIMIT=1000
